*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(255, 255, 255, 0.11);
}
header{
    background-color: rgb(255, 255, 255);
    padding-bottom: 4px;
}
#promocao{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 12px 0px;
    font-size: 14px;
}
#main_header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 20px;

}
#container_menuLogo{
    width: fit-content;
    display: flex;
    align-items: center;
}
#btn_menu{
    display: none;
    width: 35px;
    height: 35px;
    margin: 0px 20px;
    background: none;
    border: none;
    cursor: pointer;

}
#btn_menu span{
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 0;
    margin: 4px 0;
    margin-right: -3px;
    margin-left: 3px;
}
#btn_menu span:first-of-type{
    transition: all .5s;
}
#btn_menu span:nth-of-type(2){
    transition: all .2s;
}
#btn_menu span:nth-of-type(3){
    transition: all .2s;
}
#container_imag{
    width: fit-content;
    display: flex;
    align-items: center;
}

#container_imag > img{
    width: 180px;
    margin: 0px 20px;

}

#main_header a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;

}
#container_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0px 20px;
}

#search_formUI, #search_formUI2{
    background: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(148, 148, 148);
    padding: 10px 14px;
    margin: 3px 10px;
    width: 80%;
}
#search_formUI2{
    width: 96%;
    margin: 8px auto;
    display: none;
}

#search_inputUI, #search_inputUI2{
    background: none;
    outline: none;
    width: 100%;
    border: none;
    font-size: 16px;
    height: 25px;
    display: flex;
    align-items: center;
}
#search_searchButtonUI, #btn_search{
    background: none;
    width: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_search{
    display: none;
}
#search_searchIcon{
    fill: rgb(43, 43, 43);
    width: 21px;
    height: 21px;
    cursor: pointer;
}
.icon_header{
    width: 30px;
    height: 30px;
    fill: none;
    margin: 0px 10px;
}
#menu_container{
    display: none;
}
nav{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
nav > a{
    text-decoration: none;
    color: black;
    margin: 12px 0px;
}
nav a:hover{
    color: red;
}

hr{
    margin: 10px 0px;
}
.container_iconMenu{
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.container_iconMenu a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
#shadow{
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background: rgba(0,0,0,.75);
}
#container_imagBanner img{
    width: 100%;
}

#mostBought_txt{
    margin: 30px;
    text-align: center;
}
#mostBought_txt h1{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 6px;
}
#mostBought_txt p{
    font-size: 16px;
    font-weight: normal;
    color: #6C757D;
}
#mostBought_item section{
    display: flex;
    justify-content: center;
}
#container_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    max-height: 600px;

}
#container_item {
    width: 50%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 6px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_item:hover {
    border: 1px solid rgb(117, 117, 117);

}

#container_item img{
    width: 100%;
    border-radius: 6px;
}

#container_infos{
    padding-left: 15px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ececec50;
    border-bottom: 1px solid #2125295d;
}
#scoll{
    overflow: auto;
    padding: 20px 0px;

}
#container_avaliacao{
    display: flex;
    align-items: flex-end;
    margin: 15px 0px;
}
#container_preco{
    margin: 15px 0px;
}
#economia_product{
    font-size: 12px;
    background-color: #29B62A;
    display: inline;
    padding: 2px 6px;
    color: white;
    border-radius: 10px;
}
#economia_product span{
    font-weight: bold;
}
#nome_product{
    font-size: 32px;
}
.container_star{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_star img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
#avaliacao_product{
    font-size: 16px;
    color: #6C757D;
    font-style: italic;
    margin-left: 8px;

}
#precoAntigo_product{
    font-size: 16px;
    color: #B3B3B3;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: line-through;

}
#precoAtual_product{
    font-size: 28px;
    color: #29B62A;
    font-weight: 800;
}
#estimativaEntrega{
    color: #4A4A4A;
    font-size: 14px;
    margin: 16px 0px;
}
#garantia_txt{
    color: #808080;
    font-size: 14px;
    display: flex;
    align-items: center;
}
#size_container{
    margin: 20px 0px;
}

#size_container p{
    font-size: 16px;
    margin-bottom: 5px;
}
#size_container button{
    font-size: 16px;
    color: #FF0000;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    padding: 7px 10px;
    text-align: center;
}



#btn_comprar{
    color: #ffffff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

#btn_comprar svg{
    margin-right: 10px;
}

#btn_comprar:hover{
    color: #dc3545;
    background-color: transparent;
}
#container_datalhes, #container_clasificacao{
    background-color: #dadada;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px;
}

#btn_maisDetalhes, #btn_avaliacoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: bold;
    background-color: #dadada;
    font-size: 14pt;
    width: 100%;
}

#btn_maisDetalhes span, #btn_avaliacoes span{
    margin: 0px 20px;
}

#detalhesProduto{
    width: 84%;
    margin: 20px auto;
    display: none;
}
#detalhesProduto p, li{
    color: #4B4F58;
    font-size: 14px;
}

#avaliacaoProduto{
    display: none;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#avaliacaoProduto > p, #container_avaliacoes{
    font-weight: bold;
    color: #212529;
}
#graficos, #review{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

#container_avaliacoes{
    text-align: center;
    margin-top: 10px;
}
#container_avaliacoes span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avaliação_product{
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    background-color: aliceblue;
}
.user-details{
    display: flex;
    align-items: center;
}
.avaliacao_cliente{
    margin: 8px 35px;
    justify-content: flex-start;
}
.avatar_user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.none_user{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}
.reviews_desc{
    margin: 10px 40px;
}

#container_bar{
    background-color: #cfcfcf;
    height: 10px;
    width: 80%;
    margin-left: 10px;
}
#container_progress{
    background-color: #2d75fb;
    height: 10px;

}
hr{
    width: 95%;
    margin: 30px auto;
}
#container_footer{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
#footerContainer_flex{
    display: flex;
    width: 50%;
}

#container_svg{
    display: flex;
    width: 50%;
    margin: 0px 10px;
}
#container_svg span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container_svg svg{
    width: 40px;
    height: 40px;
    margin: 16px;
    fill: currentColor;
    color:  #E92222;   
}

#container_svg h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#container_svg p{
    text-align: start;
    font-size: 16px;
    font-weight: normal;
}



#container_cnpj{
    margin-top: 30px;
    background-color: black;
    color: #cfcfcf;
    text-align: center;
    padding: 10px;
    font-size: 14px;

}

@media only screen and (max-width: 1100px){

    #container_footer{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    #container_svg{
        margin-bottom: 20px;
    }
    #footerContainer_flex{
        width: 100%;
    }
    
}

@media only screen and (max-width: 950px){
    #main_header a{
       display: none;
    }
    #btn_menu{
        display: block;
    }
    #favoritos, #conta{
        display: none;
    }
    #container_icons{
        justify-content: flex-end;
        width: 100%;
    }
    #search_formUI{
        width: 100%;

    }
    #main_header{
        justify-content: space-between;
    }
    #container_footer{
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    #footerContainer_flex{
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
    }
    #container_svg{
        margin: 10px 0px;
        width: 100%;
    }
    #detalhesProduto{
        width: 82%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 850px){
    #container_flex{
        flex-direction: column;
        width: 90%;
        max-height: 100%;
    }
    #container_item{
        width: 80%;
        margin: auto;
    }
    #container_infos{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    #detalhesProduto{
        width: 68%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 660px){
    #search_inputUI{
        display: none;
    }
    #search_formUI{
        display: none;

    }
    #btn_search{
        display: flex;
    }
    #container_icons{
        width: fit-content;
    }
    #container_imag{
        width: 100%;
        justify-content: center;
    }
    #container_menuLogo{
        width: 100%;
    }

}
