*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(199, 11, 49, 0.11);
}
header{
    background-color: rgb(255, 255, 255);
    padding-bottom: 4px;
}
#promocao{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 12px 0px;
    font-size: 14px;
}
#main_header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 20px;

}
#container_menuLogo{
    width: fit-content;
    display: flex;
    align-items: center;
}
#btn_menu{
    display: none;
    width: 35px;
    height: 35px;
    margin: 0px 20px;
    background: none;
    border: none;
    cursor: pointer;

}
#btn_menu span{
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 0;
    margin: 4px 0;
    margin-right: -3px;
    margin-left: 3px;
}
#btn_menu span:first-of-type{
    transition: all .5s;
}
#btn_menu span:nth-of-type(2){
    transition: all .2s;
}
#btn_menu span:nth-of-type(3){
    transition: all .2s;
}
#container_imag{
    width: fit-content;
    display: flex;
    align-items: center;
}

#container_imag > img{
    width: 180px;
    margin: 0px 20px;

}

#main_header a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;

}
#container_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0px 20px;
}

#search_formUI, #search_formUI2{
    background: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(148, 148, 148);
    padding: 10px 14px;
    margin: 3px 10px;
    width: 80%;
}
#search_formUI2{
    width: 96%;
    margin: 8px auto;
    display: none;
}

#search_inputUI, #search_inputUI2{
    background: none;
    outline: none;
    width: 100%;
    border: none;
    font-size: 16px;
    height: 25px;
    display: flex;
    align-items: center;
}
#search_searchButtonUI, #btn_search{
    background: none;
    width: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_search{
    display: none;
}
#search_searchIcon{
    fill: rgb(43, 43, 43);
    width: 21px;
    height: 21px;
    cursor: pointer;
}
.icon_header{
    width: 30px;
    height: 30px;
    fill: none;
    margin: 0px 10px;
}
#menu_container{
    display: none;
}
nav{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
nav > a{
    text-decoration: none;
    color: black;
    margin: 12px 0px;
}
nav a:hover{
    color: red;
}

hr{
    margin: 10px 0px;
}
.container_iconMenu{
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.container_iconMenu a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
#shadow{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0,0,0,.75);
}
@media only screen and (max-width: 950px){
    #main_header a{
       display: none;
    }
    #btn_menu{
        display: block;
    }
    #favoritos, #conta{
        display: none;
    }
    #container_icons{
        justify-content: flex-end;
        width: 100%;
    }
    #search_formUI{
        width: 100%;

    }
    #main_header{
        justify-content: space-between;
    }
    
}
@media only screen and (max-width: 660px){
    #search_inputUI{
        display: none;
    }
    #search_formUI{
        display: none;

    }
    #btn_search{
        display: flex;
    }
    #container_icons{
        width: fit-content;
    }
    #container_imag{
        width: 100%;
        justify-content: center;
    }
    #container_menuLogo{
        width: 100%;
    }



}
